body {
    background-color:rgb(39, 39, 41);
    justify-items: center;
    align-content: center;
    height: 100vh;
}

hr {
    width:700px;
    border-color:rgb(200, 117, 245);
    background-color: rgb(200, 117, 245);    
}

.text-default {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:whitesmoke;
}

.text-thin {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    color:whitesmoke;
}

#to-do-list {
    width:80vw;
    margin-top: 3vw;
}

#filter-button, #reset-button {
    font-weight: bold;
    width:100px;
    height: 25px;
}

#filter-button {
    background-color: rgb(200, 117, 245)
}

#delete-button {
    font-weight: bold;
    width:90px;
    height: 25px;
    background-color: rgb(255, 0, 0);
}

table {
    width: 600px;
    justify-self: center;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }

tr:hover {background-color: rgb(156, 156, 166, 0.2);}